/*修改iview样式*/
.ivu-table {/*表格*/
  font-size: 14px !important;
}
.ivu-radio-wrapper {/*修改radio*/
  font-size: 14px !important;
  margin-right: 15px !important;
}
.ivu-timeline-item-content{ /*时间轴*/
  font-size: 14px !important;
}
.ivu-timeline-item-tail {
  border-left:1px solid  #4589fd !important;
}
.ivu-timeline-item-head {
  color: #4589fd !important;
  border-color: #4589fd !important;
}
/*分页*/
.ivu-page {
  font-size: 14px !important;
}
/*日期选择*/
.ivu-date-picker {
  font-size: 12px !important;
}

